<body>
  <div *ngIf="book">
    <div class="d-grid justify-content-center">
        <form>
            <h2>Edit or delete a book</h2>
            <p>make sure you fill in the fields correctly.</p>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <input [(ngModel)]="book.bookTitle" type="text" class="form-control" name="title" placeholder="Title">
                    </div>
                    <div class="col-md-6">
                        <input [(ngModel)]="book.bookSubTitle" type="text" class="form-control" name="subtitle" placeholder="Sub Title">
                    </div>
                </div>
            </div>
              <div class="mt-2">
                <input [(ngModel)]="book.bookAutor" type="text" class="form-control" name="autor" placeholder="Autor">
              </div>
            <div class="mt-2">
                <input [(ngModel)]="book.bookPublisher" type="text" class="form-control" name="publicher" placeholder="Publicher">
            </div>
            <div class="mt-2">
                <input [(ngModel)]="book.bookEdition" type="text" class="form-control" name="edition" placeholder="Edition">
            </div>
            <div class="mt-2">
              <input  [(ngModel)]="book.bookPublication" type="text" class="form-control" name="publication" placeholder="Publication">
          </div>
          <div class="row mt-2">
            <div class="col-md-6">
                <input  [(ngModel)]="book.bookPgNumber" type="text" class="form-control" name="pagnumber" placeholder="Page Number">
            </div>
            <div class="col-md-6">
                <input [(ngModel)]="book.bookCopies" type="text" class="form-control" name="copynumber" placeholder="Copy Number">
            </div>
        </div>
            <div class="mt-2">
                <label for="genresList">Genres</label>
                <select class="form-control" id="genresList">
                    <option *ngFor="let genre of genres" >{{genre.genresName}}</option>
                </select>
            </div>
            <div class="mt-2">
              <div class= "text center row">
                  <div>
                    <a type="button" class="btn btn-success btn-sml" (click)="editBook(book)">CONFIRM EDIT</a>
                    <a type="button" class="btn btn-danger btn-sml"(click)="delBook(book)">DELETE</a>
                  </div>
              </div>
            </div>
        </form>
    </div>
  </div>
</body>


