.book-options{
  margin-top:100px;
  margin-bottom:20px;
  padding: 40px;
  border-radius: 5px;
  background-color: var(--bar-color);
}
.client-options
{
  margin-top:30px;
  margin-bottom:20px;
  padding: 40px;
  border-radius: 5px;
  background-color: var(--bar-color);

}
.btn-size
{
  width:250px;
  height:70px;
  border-radius: 40px;
}
