<div class="book-options shadow-style">
  <div class="d-grid justify-content-center mx-auto">
      <div class="row gap-2">
          <a href="search-book" type="button" class="btn btn-primary btn-size">Search a book</a>
          <a href="list-books"type="button" class="btn btn-primary btn-size">List of all books</a>
          <a href="add-book"type="button" class="btn btn-primary btn-size">Add a book</a>
      </div>
  </div>
</div>
<div class="client-options shadow-style">
  <div class="d-grid justify-content-center mx-auto text center ">
      <div class="row gap-2">
      <a type="button" class="btn btn-primary btn-size">Add a client</a>
      <a type="button" class="btn btn-primary btn-size">Search a client</a>
      </div>
  </div>
</div>


