<header class="navbar navbar-expand-lg fixed-top list-head">
  <div class="container justify-content-left">
    <label for="genresList">Genres</label>
    <select class="form-control" id="genresList">
      <option>1</option>
    </select>
</div>
</header>
<table class="table table-striped list-box">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Sub Title</th>
      <th scope="col">Autor</th>
      <th scope="col">Genres</th>
      <th scope="col">Edition</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>title</td>
      <td>subTitle</td>
      <td>autor</td>
      <td>genres</td>
      <td>edition</td>
    </tr>
  </tbody>
</table>

