.list-box
{
  margin-top: 85px;
  background-color: var(--primary-color);
}
.list-head
{
  margin-top: 85px ;
  background-color: var(--bar-color);
}

.genres-list
{
  padding: 10px 10px;
}
.upd-box
{
  margin-top: 75px;

}
